
<h1>Collection</h1>

<%= @collection.name %>
<ul>
  <% @collection.items.each do |item| %>
    <li><%= item.artist %> - <%= item.title %></li>
    <% item.subitems.each do |subitem| %>
      <ul>
        <li><%= subitem.number %> - <%= subitem.title %></li>
      </ul>
    <% end %>
  <% end %>
</ul>
