
<%= stylesheet_link_tag "application" %>

<div class="centre">
  <h1 ><%= @release.artist %> - <%= @release.title %> [<%= @release.label %>]</h1>
  <div>
    <p><%= @release.release_year %> // <%= @release.purchase_date %> | <%= @release.points_spent %> / <%= @release.points %></p>
  </div>
  <ul class="track-list">
    <% @release.tracks.each do |t| %>
      <li>
        <%= t.position %> - <%= t.title %>
      </li>
    <% end %>
  </ul>
</div>

<div class="centre annotation-container">
  <ul>
    <% @variants.each do |variant| %>
      <li>
        <%= variant.id %><%= @release.current_variant_id == variant.id ? " - current" : "" =%> <br />
        <%= button_to("delete variant", release_variant_path(variant.release_id, variant.id), method: :delete, data: {turbo_method: :delete}, class: "btn-small")%>
        <%= button_to("pick as current variant", release_variant_path(variant.release_id, variant.id), method: :put, data: {turbo_method: :put}, class: "btn-small")%>
        <img src="<%= variant.image_path + ".jpg"%>">
      </li>
    <% end %>
  </ul>
</div>

<div class="centre form-div">
  <h4>new variant</h4>
  <%= form_with model: @variant do |form| %>
    <div>
      variant image upload:
      <%= form.file_field :img, :class => 'image_upload' %>
      <%= form.submit %>
    </div>
  <% end %>
</div>
