<h1>Update <%= @garden.name %> </h1>

<%= form_with(url: "edit", method: :get) do |form| %>
  <%= form.label :release_search, "Search Releases For:" %>
  <%= form.text_field :release_search %>
  <%= form.submit "Search" %>
<% end %>

<hr/>

<%= form_with(model: [@collection, @garden]) do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <h3>Existing Releases:</h3>
  <%= form.fields_for :garden_releases, @garden.garden_releases.reject(&:new_record?) do |garden_release_form| %>
      <div>
        <%= garden_release_form.object.release.title %> - <%= garden_release_form.object.release.artist %>
        <%= garden_release_form.check_box :_destroy %>
        <%= garden_release_form.label :_destroy, 'Remove' %>
      </div>
      <%= garden_release_form.hidden_field :release_id %>
  <% end %>

  <h3>Add Items:</h3>
  <div>
    <% (0..@number_of_addable_releases).each do |offset| %>
      <%= form.fields_for :garden_releases, GardenRelease.new, child_index: Time.now.to_i + offset do |garden_release_form| %>
        <div>
          <%= garden_release_form.label :release_id %>
          <%= garden_release_form.collection_select :release_id, @searched_releases, :id, :title, prompt: 'Select a release' %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
